<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-8845201596497802/6830783976</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1045774376973-m6ojjsi76hhrag4s0luko04i3t5foief.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045774376973-m6ojjsi76hhrag4s0luko04i3t5foief</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ5wyd-LLVeeMcTyuQnGaAlsptaMRTFvE</string>
	<key>GCM_SENDER_ID</key>
	<string>1045774376973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tbox.nearhero</string>
	<key>PROJECT_ID</key>
	<string>nearhero-f68a4</string>
	<key>STORAGE_BUCKET</key>
	<string>nearhero-f68a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045774376973:ios:f5157919c1a2f072</string>
	<key>DATABASE_URL</key>
	<string>https://nearhero-f68a4.firebaseio.com</string>
</dict>
</plist>
